* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

h1, p {
    color: black;
}
.site-wrapper {
    max-width: 1440px;
    margin: auto;
}

nav {
    background-color: black;
}

nav ul li {
    display: inline;
    padding: 20px;
    line-height: 65px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}
nav .options {
    float: right;
    margin-right: 20px;
}

nav .logo {
    font-size: 30px;
    font-weight: bolder;
    margin-left: 20px;
    float: left;
    line-height: 65px;
    padding: 20px;
    letter-spacing: 3px;
}

nav .logo a {
    text-decoration: none;
}
.clear-nav {
    clear: both;
}

.options:hover{
    cursor: pointer;
    text-decoration: underline;
    font-size: large;
}

.logo:hover{
    cursor: pointer;
    text-decoration: underline;
    font-size: 32px;
}

#hamburger-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    
     /* nav .options {
        display: none;
    } */
   

    #hamburger-menu {
        display: block;
        float: right;
        font-size: 30px;
        font-weight: bolder;
        margin-right: 20px;
        line-height: 65px;
        padding: 20px;
        letter-spacing: 3px;
    } 

    #hamburger-menu:hover {
        font-size: 33px;
    }
    
    .nav-links {
       display: none;
    }

    .nav-links-active {
         display: flex;
        flex-flow: column;  
        float: right;
        width: 100%;
        margin-bottom: 20px;
        align-items: center;
        animation: navLinkFade 1s ease-in;
    } 
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity:1;
        transform: translateY(0px);;
    }
}
